html, body {
  overflow: visible;
}

body {
  background: #ebeef0;
  margin: 0;
  padding: 0;
  overflow: visible;
  overflow-x: hidden;
}

#appbar {
  height: 56px;
  width: 100%;
  background: #ffa000;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

#appbar .action {
  height: 56px;
  width: 56px;
}

#appbar .action i {
  padding: 8px;
  margin: 8px;
  border-radius: 32px;
}

#appbar .action.action-nav-left {
  float: left;
  color: #cc8000;
}

#appbar .action.action-nav-right {
  float: right;
  color: #ffffff;
}

#appbar #appbar-back {
  display: none;
}





#search {
  width: 328px;
  padding: 0 16px;
  height: 450px;
  position: relative;
  margin-top: 64px; /*App bar is fixed (56) + 8*/
  z-index: 50;
  margin-left: 0;
}

.searchInput {
  width: 100%;
}

.searchInput input {
  font-size: 14px;
  font-weight: 300;
}

#searchStory_status {
  margin-bottom: 16px;
  display: block;
}

#searchResults {
  width: calc(100% + 32px);
  margin-left: -16px;
  height: auto;
}

#searchResults .searchResult {
  width: calc(100% - 32px);
  color: #212121;
  height: 100px;
  padding: 0 16px;
  position: relative;
  padding-bottom: 16px;
}

#searchResults .searchResult .searchResult-cover {
  height: 100px; /*Cover ratio is 400x256 = 25:16*/
  width: 64px;
  cursor: pointer;
}

#searchResults .searchResult .searchResult-cover img {
  height: 100px;
  width: 64px;
}

#searchResults .searchResult .searchResult-information {
  position: absolute;
  top: 0;
  left: 80px; /*Cover 64px + padding 16px*/
  height: 100px;
  margin-left: 8px;
  margin-right: 16px;
  width: calc(100% - 104px); /*Padding 32px + Cover 64px + Padding 8px*/
  overflow: hidden;
}

#searchResults .searchResult .searchResult-information .searchResult-title {
  font-size: 16px;
  line-height: 24px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

#searchResults .searchResult .searchResult-information .searchResult-title:after {
  content: "";
  text-align: right;
  position: absolute;
  right: -16px; /*Out of padding*/
  width: 25%;
  height: 24px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(235, 238, 240, 1) 50%);
}

#searchResults .searchResult .searchResult-information .searchResult-author {
  font-size: 14px;
}

#searchResults .searchResult .searchResult-information .meta {
  margin-top: 8px;
}

#searchResults .searchResult .searchResult-information .meta, #searchResults .searchResult .searchResult-information .meta .material-icons {
  font-size: 12px;
  line-height: 12px;
}

#searchResults .searchResult .searchResult-information .meta .material-icons {
  margin: 0 8px;
}

#searchResults .searchResult .searchResult-information .meta span:nth-child(1) .material-icons, #searchResults .searchResult .searchResult-information .meta span:nth-child(3) .material-icons {
  margin-left: 0;
}

#searchResults .searchResult .searchResult-information .meta span:nth-child(3) {
  display: block;
}














#storyDetails {
  margin-left: 360px;
  display: none;
}

#information {
  height: 450px;
  position: absolute;
  top: 56px; /*App bar is fixed*/
  z-index: 50;
}

#information .cover {
  width: 360px;
  height: 450px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#information .cover img {
  width: 100%;
  overflow: hidden;
  bottom: 0;
  position: absolute;
}

#information .brief {
  position: absolute;
  bottom: 0;
  width: 360px;
  height: 160px;
  background: white;
  z-index: 2;
}
#information .brief .diagonal {
  position: absolute;
  top: -20px;
  background: white;
  width: 100%;
  height: 60px;
  z-index: 1;
  -webkit-transform:skew(0deg,-5deg);
  transform:skew(0deg,-5deg);
}

#information .brief .text {
  position: absolute;
  height: 100%;
  width: calc(100% - 32px);
  background: white;
  z-index: 2;
  padding: 8px 16px 8px 16px;
}

#information .brief .text .story--title {
  color: #212121;
  font-weight: 600;
  font-size: 24px;
}

#information .brief .text .story--author {
  color: rgba(0, 0, 0, 0.6);
  padding-top: 5px;
  font-weight: 400;
  font-size: 14px;
}

#information .brief .text .story--description {
  color: rgba(0, 0, 0, 0.65);
  padding-top: 16px;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  white-space: normal;
  max-height: 54px;
  overflow: hidden;
  position: relative;
}

#information .brief .text .story--description:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 18px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

#information .brief .text .story--description p {
  display: inline;
}

#information .action-button {
  z-index: 3;
  position: absolute;
  right: 16px;
  top: 235px;
  height: 56px;
  width: 56px;
  border-radius: 28px;
}

#information .action-button .floating-button {
  background: #00b2b2;
  border-radius: 28px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#information .action-button .floating-button i {
  line-height: 56px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 24px;
  text-align: center;
  transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#information .action-button .floating-button i:hover {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

body>#storyDetails .information-container {
  width: 328px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  margin-top: 522px;
}

.parts-card, .stats-card {
  padding: 0;
  margin-bottom: 24px;
  width: 328px;
}

.parts-card--title, .stats-card--title {
  font-size: 16px;
  color: #212121;
  font-weight: 600;
  padding: 16px;
}

.stats-card--stats-wrapper .stats-card--stats-item {
  width: 360px;
  height: auto;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.parts-card {
  padding-bottom: 48px;
  transition: height .3s linear, padding-bottom .25s linear;
}

.parts-card--title {
  padding-bottom: 8px;
}

#parts-card--order {
  color: #03a9f4;
  line-height: 24px;
  position: absolute;
  top: 14px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 16px;
}

ul.parts-card--parts {
  color: #969696;
  list-style-type: none;
  line-height: 24px;
  position: relative;
  height: auto;
}

ul.parts-card--parts li {
  color: #969696;
  transition: color 0.08s linear;
  cursor: pointer;
}

ul.parts-card--parts li:not(.active):before {
  content: "";
  position: absolute;
  margin-top: 7px;
  left: 16px;
  border-radius: 5px;
  height: 10px;
  width: 10px;
  background: #b3e5fc;
}

ul.parts-card--parts li.active:before {
  content: "";
  position: absolute;
  margin-top: 7px; /*24 - 10 / 2*/
  left: 16px;
  border-radius: 5px;
  height: 10px;
  width: 10px;
  background: #03a9f4;
}

ul.parts-card--parts li:hover {
  color: #00b2b2;
}

ul.parts-card--parts li:active {
  color: #585858;
}
.parts-card a button {
  color: #00b2b2;
  margin-right: 16px;
  margin-bottom: 8px;
  float: right;
}

.stats-card--stats-item {
  width: calc(50% - 32px) !important;
  height: 64px;
  padding: 8px 16px;
}

.stats-card--stats-item--name {
  font-weight: 300;
  font-size: 11px;
  color: #969696;
}

.stats-card--stats-item--description {
  font-weight: 400;
  font-size: 15px;
  margin-top: 2px;
}

.stats-card--stats-item:nth-child(odd) {
  margin-left: 0;
}
.stats-card--stats-item:nth-child(even) {
  margin-left: calc(50% - 16px);
  margin-top: -56px;
}
.stats-card--stats-item--description:last-child {
  padding-bottom: 8px;
}

.hide {
  display: none;
}